/*Fondo y borde*/
.custom-navbar {
    background: linear-gradient(135deg, #007bff, #0056b3);
    position: relative;
    padding: 10px 2px;
}

.custom-brand {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.custom-link {
    color: #fff;
    transition: color 0.3s ease-in-out;
    background: #fff;
}

.custom-link:hover {
    color: #fff;
}

.custom-brand:hover {
    color: #fff;
}

.custom-navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.custom-navbar .nav-link {
    margin-right: 15px;
    font-weight: 100;
    display: flex;
    align-items: center;
}